{% extends 'base.html.twig' %}

{% block title %}HHome{% endblock %}

{% block body %}

<h5 style="text-align: center">BIENVENIDO</h5>
<h5 style="text-align: center">Aplicación de Contabilidad General y de Costos</h5>
<div class="text-center">
<img src="/logoDataGrid.jpg" class="rounded" alt="logoDataGrid">
</div>
<p class="text-center">"Todas tus necesidades de web empresarial, aplicaciones y sistemas informáticos, en una sola consultora"</p>
</div>

<p class="text-center">Data Grid ofrece a nuestros clientes consulta y asesoramiento profesional sobre sistemas informáticos y las distintas herramientas digitales necesarias para brindar apoyo a las empresas para mejorar su rendimiento  y ayudarlas a posicionarlas en el mercado actual. </p>

{% endblock %}
